<a href="https://colab.research.google.com/github/guen-a-park/Parcel-locker-Innov/blob/main/%EB%B8%94%EB%9F%AD_%EB%8B%A8%EC%9C%84%EB%A5%BC_%ED%96%89%EC%A0%95%EB%8F%99_%EB%8B%A8%EC%9C%84%EB%A1%9C_%EB%B3%80%ED%99%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os.path
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

# **원본 데이터**

In [ ]:
df3=pd.read_csv('code.csv')

In [ ]:
df3

,BLK_CD,BLCK_NM,"BLCK_NM,C,30","XCNTS,N,10,0","YCNTS,N,10,0","ADSTRD_CD,C,10","SIGNGU_CD,C,5","LCLAS_CD,C,10","MLSFC_CD,C,10","SCLAS_CD,C,10","RASTSP_AT,C,1","UNVTW_AT,C,1","H_LCLAS_CD,C,10","H_MLSFC_CD,C,10","H_SCLAS_CD,C,10","STDR_YM_CD,C,6"
0,364284,도봉1동,도봉1동-E-22,315841,564852,11320521,11320,4.0,403.0,40301.0,0.0,0.0,4.0,401.0,40101.0,2016
1,352898,도봉2동,도봉2동-N-2,316232,565210,11320522,11320,4.0,401.0,40101.0,0.0,0.0,4.0,401.0,40101.0,2016
2,364260,도봉1동,도봉1동-E-23,315687,565172,11320521,11320,4.0,403.0,40301.0,0.0,0.0,4.0,403.0,40301.0,2016
3,4380,우이동-,우이동-N-1,312799,564044,11305645,11305,5.0,502.0,50201.0,0.0,0.0,5.0,501.0,50101.0,2016
4,363505,도봉2동,도봉2동-N-3,316154,565350,11320522,11320,4.0,401.0,40101.0,1.0,0.0,4.0,401.0,40101.0,2016
5,406768,상계1동,상계1동-W-155,316623,565338,11350630,11350,2.0,202.0,20201.0,0.0,0.0,4.0,401.0,40101.0,2016
6,363506,도봉2동,도봉2동-N-4,316232,565340,11320522,11320,4.0,401.0,40101.0,1.0,0.0,4.0,401.0,40101.0,2016
7,363507,도봉2동,도봉2동-N-5,316298,565309,11320522,11320,4.0,401.0,40101.0,1.0,0.0,4.0,401.0,40101.0,2016
8,364237,도봉1동,도봉1동-E-24,315898,565348,11320521,11320,4.0,403.0,40301.0,1.0,0.0,4.0,401.0,40101.0,2016
9,364245,도봉1동,도봉1동-E-25,314997,565144,11320521,11320,5.0,502.0,50201.0,0.0,0.0,5.0,501.0,50101.0,2016
10,406769,상계1동,상계1동-W-156,316702,565334,11350630,11350,4.0,401.0,40101.0,0.0,0.0,4.0,401.0,40101.0,2016
11,406803,도봉2동,도봉2동-W-5,316114,564721,11320522,11320,4.0,401.0,40101.0,0.0,0.0,4.0,403.0,40301.0,2016
12,352899,도봉2동,도봉2동-N-6,316091,565186,11320522,11320,4.0,401.0,40101.0,0.0,0.0,4.0,401.0,40101.0,2016
13,364261,도봉1동,도봉1동-E-26,315960,565177,11320521,11320,4.0,403.0,40301.0,0.0,0.0,4.0,401.0,40101.0,2016
14,365556,상계1동,상계1동-W-157,316761,564714,11350630,11350,4.0,401.0,40101.0,1.0,0.0,4.0,401.0,40101.0,2016
15,365557,상계1동,상계1동-W-158,316598,564717,11350630,11350,4.0,401.0,40101.0,0.0,0.0,4.0,401.0,40101.0,2016
16,364262,도봉1동,도봉1동-E-27,315891,565178,11320521,11320,4.0,403.0,40301.0,0.0,0.0,4.0,401.0,40101.0,2016
17,352900,도봉2동,도봉2동-N-7,316165,565188,11320522,11320,4.0,401.0,40101.0,0.0,0.0,4.0,401.0,40101.0,2016
18,365520,상계1동,상계1동-W-159,316777,565033,11350630,11350,5.0,504.0,50401.0,0.0,0.0,4.0,401.0,40101.0,2016
19,282257,도봉1동,도봉1동-E-28,315858,565556,11320521,11320,4.0,403.0,40301.0,1.0,0.0,4.0,403.0,40301.0,2016
20,364201,도봉1동,도봉1동-E-29,315794,565555,11320521,11320,4.0,403.0,40301.0,1.0,0.0,4.0,403.0,40301.0,2016
21,282258,도봉1동,도봉1동-E-30,315827,565555,11320521,11320,2.0,203.0,20301.0,1.0,0.0,4.0,403.0,40301.0,2016
22,363782,도봉1동,도봉1동-E-31,315760,565552,11320521,11320,4.0,404.0,40401.0,1.0,0.0,4.0,403.0,40301.0,2016
23,364202,도봉1동,도봉1동-E-32,315711,565551,11320521,11320,2.0,203.0,20301.0,1.0,0.0,4.0,402.0,40201.0,2016
24,364203,도봉1동,도봉1동-E-33,315893,565495,11320521,11320,2.0,203.0,20301.0,1.0,0.0,4.0,401.0,40101.0,2016
25,364271,도봉1동,도봉1동-E-10,315878,565113,11320521,11320,4.0,403.0,40301.0,0.0,0.0,4.0,401.0,40101.0,2016
26,364272,도봉1동,도봉1동-E-11,315958,565129,11320521,11320,4.0,403.0,40301.0,0.0,0.0,4.0,401.0,40101.0,2016
27,363836,도봉2동,도봉2동-N-48,316333,564897,11320522,11320,4.0,401.0,40101.0,0.0,0.0,4.0,401.0,40101.0,2016
28,365352,상계1동,상계1동-W-148,317065,564902,11350630,11350,4.0,401.0,40101.0,0.0,0.0,4.0,401.0,40101.0,2016
29,364225,도봉1동,도봉1동-E-12,315795,564866,11320521,11320,4.0,403.0,40301.0,0.0,0.0,4.0,401.0,40101.0,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68186,208797,효창동-,효창동-N-2,308565,549986,11170580,11170,4.0,401.0,40101.0,0.0,1.0,4.0,403.0,40301.0,2016
68187,155859,상일동-,상일동-E-100,326632,550189,11740520,11740,4.0,401.0,40101.0,0.0,0.0,4.0,402.0,40201.0,2016
68188,360713,역삼2동,역삼2동-E-3,316081,544289,11680650,11680,4.0,401.0,40101.0,0.0,0.0,4.0,403.0,40301.0,2016
68189,18170,구로2동,구로2동-E-111,301203,544476,11530530,11530,4.0,403.0,40301.0,0.0,0.0,4.0,402.0,40201.0,2016
68190,229580,대림1동,대림1동-W-6,303066,544272,11560700,11560,3.0,302.0,30201.0,0.0,0.0,4.0,402.0,40201.0,2016
68191,153334,석촌동-,석촌동-S-18,320392,544430,11710600,11710,6.0,601.0,60101.0,0.0,0.0,5.0,501.0,50101.0,2016
68192,19603,구로2동,구로2동-E-112,301575,544618,11530530,11530,2.0,203.0,20301.0,0.0,0.0,2.0,201.0,20101.0,2016
68193,283208,수궁동-,수궁동-E-84,296894,544284,11530790,11530,4.0,403.0,40301.0,0.0,0.0,4.0,402.0,40201.0,2016
68194,13892,오류1동,오류1동-N-4,297637,544618,11530770,11530,4.0,403.0,40301.0,0.0,0.0,4.0,403.0,40301.0,2016
68195,419120,서초4동,서초4동-S-2,313317,544325,11650531,11650,4.0,401.0,40101.0,1.0,0.0,4.0,402.0,40201.0,2016
68196,20899,시흥1동,시흥1동-E-47,303249,539202,11545670,11545,4.0,404.0,40401.0,0.0,0.0,2.0,204.0,20401.0,2016
68197,228118,대학동-,대학동-N-38,305741,541185,11620735,11620,4.0,401.0,40101.0,0.0,0.0,2.0,204.0,20401.0,2016
68198,201946,금호4가,금호4가동-W-22,313323,549939,11200620,11200,4.0,404.0,40401.0,0.0,0.0,4.0,401.0,40101.0,2016
68199,152751,방이1동,방이1동-S-1,322528,545379,11710561,11710,4.0,401.0,40101.0,0.0,0.0,4.0,403.0,40301.0,2016
68200,231496,신원동-,신원동-N-13,305206,542873,11620655,11620,2.0,203.0,20301.0,1.0,0.0,2.0,204.0,20401.0,2016
68201,339752,중앙동-,중앙동-W-26,307144,543041,11620615,11620,4.0,403.0,40301.0,0.0,0.0,2.0,201.0,20101.0,2016
68202,364507,녹번동-,녹번동-W-143,305971,556339,11380510,11380,4.0,401.0,40101.0,0.0,0.0,4.0,403.0,40301.0,2016
68203,501807,사당3동,사당3동-N-27,309036,543873,11590640,11590,4.0,403.0,40301.0,0.0,0.0,4.0,401.0,40101.0,2016
68204,282710,불광2동,불광2동-W-34,304954,558484,11380530,11380,2.0,202.0,20201.0,0.0,0.0,4.0,402.0,40201.0,2016
68205,20728,고척1동,고척1동-W-25,299401,545016,11530720,11530,4.0,401.0,40101.0,0.0,0.0,4.0,402.0,40201.0,2016
68206,366796,도곡2동,도곡2동-N-13,316362,543940,11680656,11680,4.0,401.0,40101.0,1.0,0.0,4.0,401.0,40101.0,2016
68207,19369,상도3동,상도3동-S-9,305722,544180,11590550,11590,4.0,403.0,40301.0,0.0,0.0,4.0,401.0,40101.0,2016
68208,154045,가락1동,가락1동-W-25,321202,544099,11710631,11710,4.0,401.0,40101.0,0.0,0.0,2.0,201.0,20101.0,2016
68209,231334,남현동-,남현동-E-14,310425,540900,11620630,11620,4.0,401.0,40101.0,0.0,0.0,4.0,402.0,40201.0,2016
68210,156769,암사3동,암사3동-S-19,324102,550870,11740590,11740,4.0,401.0,40101.0,0.0,0.0,4.0,401.0,40101.0,2016
68211,227428,당산1동,당산1동-N-1,302492,547710,11560550,11560,4.0,401.0,40101.0,1.0,0.0,3.0,302.0,30201.0,2016
68212,19270,개봉1동,개봉1동-N-2,298094,545451,11530740,11530,2.0,203.0,20301.0,0.0,0.0,4.0,403.0,40301.0,2016
68213,502609,송파2동,송파2동-N-9,322120,545029,11710590,11710,4.0,401.0,40101.0,0.0,0.0,4.0,401.0,40101.0,2016
68214,353687,가락2동,가락2동-E-1,323679,543776,11710632,11710,2.0,203.0,20301.0,0.0,0.0,4.0,403.0,40301.0,2016
68215,13085,신정7동,신정7동-E-16,300063,545723,11470680,11470,4.0,401.0,40101.0,0.0,0.0,4.0,403.0,40301.0,2016

# **블럭단위를 행정동 단위로 묶기**

In [ ]:
df=pd.read_csv('package_merge.csv')

In [ ]:
groups=df.groupby('BLK_CD')

In [ ]:
groups.head()

        BLK_CD  GENDER  AGE  INDEX05_CNT  INDEX05_CNT2  INDEX05
0        11351       1    1          0.0           0.0        0
1        11467       1    1          0.0           0.0        0
2        11575       1    1          0.0           0.0        0
3        12640       1    1          0.0           0.0        0
4        12729       1    1          0.0           0.0        0
5        12986       1    1          0.0           0.0        0
6        13658       1    1          0.0           0.0        0
7        13740       1    1          0.0           0.0        0
8        14009       1    1          0.0           0.0        0
9        14276       1    1          0.0           0.0        0
10       14776       1    1          0.0           0.0        0
11      152031       1    1          0.0           0.0        0
12      152177       1    1          0.0           0.0        0
13      152434       1    1          0.0           0.0        0
14      152549       1    1          0.0           0.0        0
15      152998       1    1          0.0           0.0        0
16      153851       1    1          0.0           0.0        0
17      154254       1    1          0.0           0.0        0
18      154787       1    1          0.0           0.0        0
19      155379       1    1          0.0           0.0        0
20      155448       1    1          0.0           0.0        0
21      155874       1    1          0.0           0.0        0
22      156393       1    1          0.0           0.0        0
23      156409       1    1          0.0           0.0        0
24      156844       1    1          0.0           0.0        0
25      157140       1    1          0.0           0.0        0
26      157402       1    1          0.0           0.0        0
27      157560       1    1          0.0           0.0        0
28      157659       1    1          0.0           0.0        0
29      157738       1    1          0.0           0.0        0
...        ...     ...  ...          ...           ...      ...
677435  223338       1    5         10.0         787.5        5
677436  209009       2    6         19.8           0.0        7
677503  253607       1    5          0.0         743.0        3
677532  226825       2    4          0.0         411.2        2
677592   11237       1    6          0.0          40.1        1
677662  157388       2    3          0.0          14.8        1
677684  221050       1    6          0.0          20.1        1
677711  226611       2    3          0.0         902.3        3
677713   22316       2    3          0.0         940.2        3
677769  209689       2    4          0.0          44.6        1
677873  211885       1    6          0.0          34.7        1
677875  206583       2    5          0.0         352.1        2
677888  217947       1    6          0.0          74.3        1
677894  354901       2    3          0.0         120.6        1
677930   31534       1    2          0.0         153.9        2
677949    9518       2    3          0.0         443.9        2
677975   17955       1    4          0.0         460.0        2
678015  272496       2    4          0.0          44.3        1
678022  221416       1    3          0.0           5.0        1
678049  207810       2    2          0.0           5.0        1
678059  215173       2    4         39.5           0.0        7
678083  223641       1    4          0.0         489.2        2
678087  362396       1    2          0.0         222.9        2
678101    9008       2    3          9.9           9.9        4
678112  354899       2    5          0.0           0.0        0
678169  412971       1    5          0.0          50.2        1
678173   31390       1    3          0.0         363.2        2
678178  409150       1    6          0.0          15.1        1
678232   12622       2    3          0.0           0.0        0
678260  413398       2    6          0.0          94.2        1

[310107 rows x 6 columns]

In [ ]:
groups.size()

BLK_CD
14         9
17         7
24        12
32        11
42        14
51         8
62        13
65        11
66         6
74        12
75        14
77         7
79        14
86        10
95        13
98        11
99        12
101       12
103        9
105        3
109       10
112        7
115        9
116       12
118       10
122       11
125        9
148       12
163        4
164        5
          ..
502742     3
502748    14
502750    13
502751    12
502754    12
502781     9
502784     4
502786    12
502787    12
502790    14
502792    13
502793    12
502799     9
502801    10
502802    13
502803    12
502805    12
502807    13
502809    13
502810    14
502812     5
502813     7
502814    10
502816     2
502817    12
505132     1
505181     7
505437    14
505565    13
507600    14
Length: 64806, dtype: int64

In [ ]:
groups.sum()

        GENDER  AGE  INDEX05_CNT  INDEX05_CNT2  INDEX05
BLK_CD
14          14   35        124.2        2865.7       32
17          11   25          4.9        2477.9       15
24          17   48         39.8        6125.5       36
32          15   45        213.9       11383.0       35
42          21   56        114.6        9840.5       47
51          11   24          0.0        4628.6       17
62          20   55        492.5       14386.2       53
65          16   47        332.8       17470.7       50
66           9   23         39.3        1783.9       13
74          18   48        546.4       21488.2       56
75          21   56        228.6       21203.4       60
77          11   27        194.3        3064.3       23
79          21   56        551.8       35067.0       83
86          15   40        451.0       13869.9       48
95          20   55         85.3       12133.4       47
98          16   51        134.8        4171.5       40
99          18   48        393.3       12714.3       43
101         18   54         19.9        4476.2       31
103         14   35        119.9        3713.6       24
105          4   10          4.9        4558.7       11
109         15   40         44.8       10297.4       36
112         11   28         85.5        2011.1       19
115         14   36        881.9        7439.7       41
116         18   42         34.8        8145.7       35
118         15   40        329.3        6075.6       39
122         16   43         49.6        4797.7       33
125         14   35         94.7        4929.8       30
148         18   48        124.7        7233.0       49
163          6   14          0.0         879.1        7
164          8   19          4.9        2528.3        9
...        ...  ...          ...           ...      ...
502742       5   11          0.0        1115.1        5
502748      21   56        710.5       27061.0       70
502750      19   55        169.4       15014.6       55
502751      18   54         74.8        6876.3       37
502754      18   48        323.6       21803.2       63
502781      13   38        138.3       11755.2       39
502784       6   16          0.0         409.8        4
502786      18   48        268.1       21555.9       59
502787      19   43        104.7       23632.5       49
502790      21   56       2283.5       74642.3       92
502792      19   55        407.1       38797.1       81
502793      17   48        589.5       14544.1       59
502799      13   38         69.4        5130.2       29
502801      15   39         64.5        5500.1       33
502802      20   55        179.1       29509.3       68
502803      17   48        222.9       25607.3       51
502805      18   48        736.6       22881.6       65
502807      19   55        497.1       18320.0       56
502809      20   55        184.0       28418.5       68
502810      21   56        597.0       39494.0       83
502812       8   20          9.9        3166.4       17
502813      11   26         20.0        1130.4       17
502814      16   41         24.9        4277.8       25
502816       4    8          0.0         168.1        2
502817      18   48         84.7       16884.7       56
505132       2    4          0.0        3257.9        3
505181      12   29        238.3        1283.8       25
505437      21   56        668.8       19239.8       75
505565      20   55        694.4        9080.2       52
507600      21   56        557.9       20685.2       66

[64806 rows x 5 columns]

In [ ]:
df2=groups.sum()

In [ ]:
df2

        GENDER  AGE  INDEX05_CNT  INDEX05_CNT2  INDEX05
BLK_CD
14          14   35        124.2        2865.7       32
17          11   25          4.9        2477.9       15
24          17   48         39.8        6125.5       36
32          15   45        213.9       11383.0       35
42          21   56        114.6        9840.5       47
51          11   24          0.0        4628.6       17
62          20   55        492.5       14386.2       53
65          16   47        332.8       17470.7       50
66           9   23         39.3        1783.9       13
74          18   48        546.4       21488.2       56
75          21   56        228.6       21203.4       60
77          11   27        194.3        3064.3       23
79          21   56        551.8       35067.0       83
86          15   40        451.0       13869.9       48
95          20   55         85.3       12133.4       47
98          16   51        134.8        4171.5       40
99          18   48        393.3       12714.3       43
101         18   54         19.9        4476.2       31
103         14   35        119.9        3713.6       24
105          4   10          4.9        4558.7       11
109         15   40         44.8       10297.4       36
112         11   28         85.5        2011.1       19
115         14   36        881.9        7439.7       41
116         18   42         34.8        8145.7       35
118         15   40        329.3        6075.6       39
122         16   43         49.6        4797.7       33
125         14   35         94.7        4929.8       30
148         18   48        124.7        7233.0       49
163          6   14          0.0         879.1        7
164          8   19          4.9        2528.3        9
...        ...  ...          ...           ...      ...
502742       5   11          0.0        1115.1        5
502748      21   56        710.5       27061.0       70
502750      19   55        169.4       15014.6       55
502751      18   54         74.8        6876.3       37
502754      18   48        323.6       21803.2       63
502781      13   38        138.3       11755.2       39
502784       6   16          0.0         409.8        4
502786      18   48        268.1       21555.9       59
502787      19   43        104.7       23632.5       49
502790      21   56       2283.5       74642.3       92
502792      19   55        407.1       38797.1       81
502793      17   48        589.5       14544.1       59
502799      13   38         69.4        5130.2       29
502801      15   39         64.5        5500.1       33
502802      20   55        179.1       29509.3       68
502803      17   48        222.9       25607.3       51
502805      18   48        736.6       22881.6       65
502807      19   55        497.1       18320.0       56
502809      20   55        184.0       28418.5       68
502810      21   56        597.0       39494.0       83
502812       8   20          9.9        3166.4       17
502813      11   26         20.0        1130.4       17
502814      16   41         24.9        4277.8       25
502816       4    8          0.0         168.1        2
502817      18   48         84.7       16884.7       56
505132       2    4          0.0        3257.9        3
505181      12   29        238.3        1283.8       25
505437      21   56        668.8       19239.8       75
505565      20   55        694.4        9080.2       52
507600      21   56        557.9       20685.2       66

[64806 rows x 5 columns]

In [ ]:
df2.to_csv("groups_of_code.csv", index=True)